<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <script src="../js/vue.min.js"></script>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="../css/element.css">
    <!-- 引入组件库 -->
    <script src="../js/element.min.js"></script>
    <script src="../js/echarts-gl.min.js"></script>
    <script src="../js/china.js"></script>
</head>
<style>
    .d_container{
        padding: 15px;
    }
    .mt20{
        margin-top: 10px;
    }
    .d_container .ml20{
        margin-left: 10px;
    }
    .d_tabel_tt{
        margin: 20px 0 15px;
        text-align: center;
    }
</style>
<body>
    <div id="refApp">
        <div class="d_container">
            <el-form :inline="true" class="d_search" size="mini">
                <el-form-item label="数据状态">
                    <el-select v-model="target" placeholder="请选择">
                        <el-option
                            v-for="item in targetList"
                            :key="item.value"
                            :label="item.label"
                            :value="item.value">
                        </el-option>
                    </el-select>
                </el-form-item>
                <el-form-item>
                    <el-button type="primary" @click="onSearch">搜索</el-button>
                </el-form-item>
                <el-form-item>
                    <el-button type="primary" @click="onSearch">报告全量导出</el-button>
                </el-form-item>
                <el-form-item>
                    <el-button type="primary" @click="onSearch">报告上传</el-button>
                </el-form-item>
            </el-form>
            <p>您上传的报告下载：<a :href="attachment" download><i class="el-icon-document"></i> {{attachment}}</a></p>

            <div v-for="(item,k) in charts" :key="k">
                <div>
                    {{item.title}}
                    <el-button @click="showDialog(item)" size="mini" v-if="item.options.type==='type5'"  type="primary"  style="margin:0 8px;">修改阀值</el-button>
                    年月
                    <el-date-picker
                        :ref="`picker${k}`"
                        v-model="item.time"
                        type="month"
                        size="mini"
                        @change="change(item, `picker${k}`)"
                        format="yyyy年MM月"
                        placeholder="选择月">
                    </el-date-picker>
                </div>
                <div :id="item.options.id" :style="{height:height,width:width,paddingBottom: '40px'}" v-if="item.options.type !== 'table'"></div>
                <div style="padding: 20px 0 30px;" v-if="item.options.type === 'table'">
                    <el-table :data="item.options.tableData" border :header-cell-style="styleH"  size="mini">
                        <el-table-column type="index" label="序号" width="50"></el-table-column>
                        <el-table-column prop="punishCode" label="处罚决定书文号"></el-table-column>
                        <el-table-column prop="punishTarget" label="受处罚主体"></el-table-column>
                        <el-table-column prop="punishReason" label="处罚事由"></el-table-column>
                        <el-table-column prop="punishMoney" label="处罚金额"></el-table-column>
                        <el-table-column prop="punishReasonOther" label="其他处罚（警告/停止新业务/撤销任职资格）"></el-table-column>
                    </el-table>
                </div>
            </div>
        </div>
        <el-dialog title="修改地图阀值" :center="true" :visible="showFixRange" class="d_dialog" @close="showFixRange=false" width="630px" >
            <p>红色阀值 罚单金额（万）</p>
            <el-form :inline="true" size="mini">
                <el-form-item style="width: 120px;">
                    <el-select v-model="rangeForm.red.min" placeholder="选择比较符号">
                        <el-option
                            v-for="item in rangetypeList"
                            :key="item.value"
                            :label="item.label"
                            :value="item.value">
                        </el-option>
                    </el-select>
                </el-form-item>
                <el-form-item style="width: 120px;">
                    <el-input v-model="rangeForm.red.min_number" placeholder="请输入" type="number"></el-input>
                </el-form-item>
                <el-form-item style="width: 120px;">
                    <el-select v-model="rangeForm.red.max" placeholder="选择比较符号">
                        <el-option
                            v-for="item in rangetypeList"
                            :key="item.value"
                            :label="item.label"
                            :value="item.value">
                        </el-option>
                    </el-select>
                </el-form-item>
                <el-form-item style="width: 120px;">
                    <el-input v-model="rangeForm.red.max_number" placeholder="请输入" type="number"></el-input>
                </el-form-item>
            </el-form>

            <p>黄色阀值 罚单金额（万）</p>
            <el-form :inline="true" size="mini">
                <el-form-item style="width: 120px;">
                    <el-select v-model="rangeForm.yellow.min" placeholder="选择比较符号">
                        <el-option
                            v-for="item in rangetypeList"
                            :key="item.value"
                            :label="item.label"
                            :value="item.value">
                        </el-option>
                    </el-select>
                </el-form-item>
                <el-form-item style="width: 120px;">
                    <el-input v-model="rangeForm.yellow.min_number" placeholder="请输入" type="number"></el-input>
                </el-form-item>
                <el-form-item style="width: 120px;">
                    <el-select v-model="rangeForm.yellow.max" placeholder="选择比较符号">
                        <el-option
                            v-for="item in rangetypeList"
                            :key="item.value"
                            :label="item.label"
                            :value="item.value">
                        </el-option>
                    </el-select>
                </el-form-item>
                <el-form-item style="width: 120px;">
                    <el-input v-model="rangeForm.yellow.max_number" placeholder="请输入" type="number"></el-input>
                </el-form-item>
            </el-form>

            <p>蓝色阀值 罚单金额（万）</p>
            <el-form :inline="true" size="mini">
                <el-form-item style="width: 120px;">
                    <el-select v-model="rangeForm.blue.min" placeholder="选择比较符号">
                        <el-option
                            v-for="item in rangetypeList"
                            :key="item.value"
                            :label="item.label"
                            :value="item.value">
                        </el-option>
                    </el-select>
                </el-form-item>
                <el-form-item style="width: 120px;">
                    <el-input v-model="rangeForm.blue.min_number" placeholder="请输入" type="number"></el-input>
                </el-form-item>
                <el-form-item style="width: 120px;">
                    <el-select v-model="rangeForm.blue.max" placeholder="选择比较符号">
                        <el-option
                            v-for="item in rangetypeList"
                            :key="item.value"
                            :label="item.label"
                            :value="item.value">
                        </el-option>
                    </el-select>
                </el-form-item>
                <el-form-item style="width: 120px;">
                    <el-input v-model="rangeForm.blue.max_number" placeholder="请输入" type="number"></el-input>
                </el-form-item>
            </el-form>

            <span slot="footer" class="dialog-footer">
                <el-button @click="showFixRange=false" size="mini">返回</el-button>
                <el-button type="primary" @click="changeRange" size="mini">数据暂存</el-button>
            </span>
        </el-dialog>
    </div>
</body>
</html>

<script>

function debounce(func, wait, immediate) {
    let timeout, args, context, timestamp, result

    const later = function() {
        // 据上一次触发时间间隔
        const last = +new Date() - timestamp

        // 上次被包装函数被调用时间间隔 last 小于设定时间间隔 wait
        if (last < wait && last > 0) {
            timeout = setTimeout(later, wait - last)
        } else {
            timeout = null
            // 如果设定为immediate===true，因为开始边界已经调用过了此处无需调用
            if (!immediate) {
                result = func.apply(context, args)
                if (!timeout) context = args = null
            }
        }
    }

    return function(...args) {
    context = this
    timestamp = +new Date()
    const callNow = immediate && !timeout
    // 如果延时不存在，重新设定延时
    if (!timeout) timeout = setTimeout(later, wait)
        if (callNow) {
            result = func.apply(context, args)
            context = args = null
        }

        return result
    }
}

function randomData() {  
    return Math.round(Math.random()*500);  
} 

new Vue({
    el: '#refApp',
    data: {
        target: '',
        attachment: 'BB8E3EEC78EA4281ADF4A55325AFE271.pdf',
        targetList: [
            {
                label: '集团',
                value: '0'
            }, {
                label: '寿险',
                value: '1'
            }, {
                label: '产险',
                value: '2'
            }
        ],
        loading: null,
        chart: null,
        width: '100%',
        height: '600px',
        showFixRange: false,
        //lt（小于，little than），gt（大于，greater than），lte（小于等于 lettle than or equals），gte（大于等于，greater than or equals）
        rangeForm: {
            red: {
                min: '',
                max: '',
                min_number: '',
                max_number: '',
            }, 
            yellow: {
                min: '',
                max: '',
                min_number: '',
                max_number: '',
            }, 
            blue: {
                min: '',
                max: '',
                min_number: '',
                max_number: '',
            }
        },
        rangetypeList: [
            {
                value: 'lt',
                label: '<'
            }, {
                value: 'lte',
                label: '≤'
            }, {
                value: 'gt',
                label: '>'
            }, {
                value: 'gte',
                label: '≥'
            }
        ],

        charts: {},
        chartsId: []
    },
    mounted() {
        this.__resizeHandler = debounce(() => {
            if (this.chartsId.length>0) {
                this.chartsId.forEach(chart => {
                    this[chart].resize();
                });
            }
        }, 100)
        window.addEventListener('resize', this.__resizeHandler)
        
        this.query();
    },
    beforeDestroy() {
        if (this.chartsId.length===0) return;
        window.removeEventListener('resize', this.__resizeHandler);
        this.chartsId.forEach(chart => {
            this[chart].dispose();
            this[chart] = null;
        });
    },
    methods: {
        query() {
            this.loading = this.$loading({
                lock: true,
                text: 'Loading',
                spinner: 'el-icon-loading',
                background: 'rgba(0, 0, 0, 0.7)'
            });
            // this.initChart();
            setTimeout(() => {
                this.charts = {
                    allPunishCompare: {
                        title: '保险行业整体处罚对比图',
                        time: new Date(),
                        path: 'BB8E3EEC78EA4281ADF4A55325AFE271.pdf',
                        options: {
                            type: 'type1',
                            id: 'type1_1',
                            category: ["中国人寿1","中国平安2","中国人保PICC3","新华保险4","泰康保险5","友邦保险6", "阳光保险7", '生命人寿8', "中国人寿","中国平安","中国人保PICC","新华保险","泰康保险","友邦保险", "阳光保险", '生命人寿'],
                            bardata: [504, 458.2, 293, 201.5, 189.1, 168.5, 168, 150, 504, 458.2, 293, 201.5, 189.1, 168.5, 168, 150 ],
                            linedata: [32, 28, 12, 7, 9, 6, 7, 41, 32, 28, 12, 7, 9, 6, 7, 41 ]
                        }
                    }, 
                    lifeInsurance1: {
                        title: '太保寿险同业受处罚金额及件数统计表',
                        time: new Date(),
                        path: 'BB8E3EEC78EA4281ADF4A55325AFE271.pdf',
                        options: {
                            type: 'type1',
                            id: 'type1_2',
                            category: ["中国人寿1","中国平安2","中国人保PICC3","新华保险4","泰康保险5","友邦保险6", "阳光保险7", '生命人寿8', "中国人寿","中国平安","中国人保PICC","新华保险","泰康保险","友邦保险", "阳光保险", '生命人寿'],
                            bardata: [504, 458.2, 293, 201.5, 189.1, 168.5, 168, 150, 504, 458.2, 293, 201.5, 189.1, 168.5, 168, 150 ],
                            linedata: [32, 28, 12, 7, 9, 6, 7, 41, 32, 28, 12, 7, 9, 6, 7, 41 ]
                        }
                    }, 
                    lifeInsurance2: {
                        title: '太保寿险同业受处罚金额及件数统计表',
                        time: new Date(),
                        path: 'BB8E3EEC78EA4281ADF4A55325AFE271.pdf',
                        options: {
                            type: 'type1',
                            id: 'type1_3',
                            category: ["中国人寿1","中国平安2","中国人保PICC3","新华保险4","泰康保险5","友邦保险6", "阳光保险7", '生命人寿8', "中国人寿","中国平安","中国人保PICC","新华保险","泰康保险","友邦保险", "阳光保险", '生命人寿'],
                            bardata: [504, 458.2, 293, 201.5, 189.1, 168.5, 168, 150, 504, 458.2, 293, 201.5, 189.1, 168.5, 168, 150 ],
                            linedata: [32, 28, 12, 7, 9, 6, 7, 41, 32, 28, 12, 7, 9, 6, 7, 41 ]
                        }
                    }, 
                    lifeInsurance3: {
                        title: '太保产险同业处罚罚单总数及总金额比较',
                        time: new Date(),
                        path: 'BB8E3EEC78EA4281ADF4A55325AFE271.pdf',
                        options: {
                            type: 'type2',
                            id: 'type2_1',
                            category: ["行业","人保","平安","太包"],
                            bardata: [351, 88, 44, 41 ],
                            linedata: [12804, 3113, 1832, 1618 ]
                        }
                    },
                    lifeInsurance4: {
                        title: '太保产险同业处罚罚单总数及总金额比较',
                        time: new Date(),
                        path: 'BB8E3EEC78EA4281ADF4A55325AFE271.pdf',
                        options: {
                            type: 'type2',
                            id: 'type2_2',
                            category: ["行业","人保","平安","太包"],
                            bardata: [351, 88, 44, 41 ],
                            linedata: [12804, 3113, 1832, 1618 ]
                        }
                    },
                    lifeInsurance5: {
                        title: '太保产险同业处罚罚单总数及总金额比较',
                        time: new Date(),
                        path: 'BB8E3EEC78EA4281ADF4A55325AFE271.pdf',
                        options: {
                            type: 'type3',
                            id: 'type3_1',
                            category: ["行业","人保","平安","太包"],
                            bardata: [29, 5, 6, 4 ]
                        }
                    },
                    lifeInsurance6: {
                        title: '太保产险同业重大处罚次数比较',
                        time: new Date(),
                        path: 'BB8E3EEC78EA4281ADF4A55325AFE271.pdf',
                        options: {
                            type: 'type3',
                            id: 'type3_2',
                            category: ["行业","人保","平安","太包"],
                            bardata: [29, 5, 6, 4 ]
                        }
                    },
                    lifeInsurance7: {
                        title: '太保产险同业处罚罚单总数及总金额比较',
                        time: new Date(),
                        path: 'BB8E3EEC78EA4281ADF4A55325AFE271.pdf',
                        options: {
                            type: 'type4',
                            id: 'type4_1',
                            category: ["虚列业务及管理费用","财务业务资料不真实","欺骗投保人/销售误导","规向被保险人返还利益", "未严格执行条款费率", "任职资格违规"],
                            bardata: [126, 198, 455, 1251, 1314, 1490 ],
                            linedata: [30, 66, 50, 101, 54, 66 ]
                        }
                    },
                    lifeInsurance10: {
                        title: '太保产险同业处罚罚单总数及总金额比较',
                        time: new Date(),
                        path: 'BB8E3EEC78EA4281ADF4A55325AFE271.pdf',
                        options: {
                            type: 'table',
                            id: 'table_1',
                            tableData: [
                                {
                                    punishCode: "银保监发〔2019〕23号",
                                    punishTarget: '业务及管理业务及管理业务及管理业务及管理业务及管理',
                                    punishReason: '处罚事由处罚事由处罚事由',
                                    punishMoney: '11万元',
                                    punishReasonOther: '警告/停止新业务/撤销任职资格',
                                }, {
                                    punishCode: "银保监发〔2019〕23号",
                                    punishTarget: '业务及管理业务及管理业务及管理业务及管理业务及管理',
                                    punishReason: '处罚事由处罚事由处罚事由',
                                    punishMoney: '11万元',
                                    punishReasonOther: '警告/停止新业务/撤销任职资格',
                                }, {
                                    punishCode: "银保监发〔2019〕23号",
                                    punishTarget: '业务及管理业务及管理业务及管理业务及管理业务及管理',
                                    punishReason: '处罚事由处罚事由处罚事由',
                                    punishMoney: '11万元',
                                    punishReasonOther: '警告/停止新业务/撤销任职资格',
                                }
                            ]
                        }
                    },
                    lifeInsurance11: {
                        title: '太保产险同业处罚罚单总数及总金额比较',
                        time: new Date(),
                        path: 'BB8E3EEC78EA4281ADF4A55325AFE271.pdf',
                        options: {
                            type: 'table',
                            id: 'table_2',
                            tableData: [
                                {
                                    punishCode: "银保监发〔2019〕23号",
                                    punishTarget: '业务及管理业务及管理业务及管理业务及管理业务及管理',
                                    punishReason: '处罚事由处罚事由处罚事由',
                                    punishMoney: '11万元',
                                    punishReasonOther: '警告/停止新业务/撤销任职资格',
                                }, {
                                    punishCode: "银保监发〔2019〕23号",
                                    punishTarget: '业务及管理业务及管理业务及管理业务及管理业务及管理',
                                    punishReason: '处罚事由处罚事由处罚事由',
                                    punishMoney: '11万元',
                                    punishReasonOther: '警告/停止新业务/撤销任职资格',
                                }, {
                                    punishCode: "银保监发〔2019〕23号",
                                    punishTarget: '业务及管理业务及管理业务及管理业务及管理业务及管理',
                                    punishReason: '处罚事由处罚事由处罚事由',
                                    punishMoney: '11万元',
                                    punishReasonOther: '警告/停止新业务/撤销任职资格',
                                }
                            ]
                        }
                    },
                    lifeInsurance8: {
                        title: '太保寿险同业处罚金额热力分布图',
                        time: new Date(),
                        path: 'BB8E3EEC78EA4281ADF4A55325AFE271.pdf',
                        options: {
                            type: 'type5',
                            id: 'type5_1',
                            category: ["虚列业务及管理费用","财务业务资料不真实","欺骗投保人/销售误导","规向被保险人返还利益", "未严格执行条款费率", "任职资格违规"],
                            data: [  
                                {name: '北京',value: '100' },{name: '天津',value: randomData() },  
                                {name: '上海',value: randomData() },{name: '重庆',value: randomData() },  
                                {name: '河北',value: randomData() },{name: '河南',value: randomData() },  
                                {name: '云南',value: randomData() },{name: '辽宁',value: randomData() },  
                                {name: '黑龙江',value: randomData() },{name: '湖南',value: randomData() },  
                                {name: '安徽',value: randomData() },{name: '山东',value: randomData() },  
                                {name: '新疆',value: randomData() },{name: '江苏',value: randomData() },  
                                {name: '浙江',value: randomData() },{name: '江西',value: randomData() },  
                                {name: '湖北',value: randomData() },{name: '广西',value: randomData() },  
                                {name: '甘肃',value: randomData() },{name: '山西',value: randomData() },  
                                {name: '内蒙古',value: randomData() },{name: '陕西',value: randomData() },  
                                {name: '吉林',value: randomData() },{name: '福建',value: randomData() },  
                                {name: '贵州',value: randomData() },{name: '广东',value: randomData() },  
                                {name: '青海',value: randomData() },{name: '西藏',value: randomData() },  
                                {name: '四川',value: randomData() },{name: '宁夏',value: randomData() },  
                                {name: '海南',value: randomData() },{name: '台湾',value: randomData() },  
                                {name: '香港',value: randomData() },{name: '澳门',value: randomData() }  
                            ]
                        }
                    },
                    lifeInsurance9: {
                        title: '太保寿险同业处罚金额热力分布图',
                        time: new Date(),
                        path: 'BB8E3EEC78EA4281ADF4A55325AFE271.pdf',
                        options: {
                            type: 'type5',
                            id: 'type5_2',
                            category: ["虚列业务及管理费用","财务业务资料不真实","欺骗投保人/销售误导","规向被保险人返还利益", "未严格执行条款费率", "任职资格违规"],
                            data: [  
                                {name: '北京',value: '100' },{name: '天津',value: randomData() },  
                                {name: '上海',value: randomData() },{name: '重庆',value: randomData() },  
                                {name: '河北',value: randomData() },{name: '河南',value: randomData() },  
                                {name: '云南',value: randomData() },{name: '辽宁',value: randomData() },  
                                {name: '黑龙江',value: randomData() },{name: '湖南',value: randomData() },  
                                {name: '安徽',value: randomData() },{name: '山东',value: randomData() },  
                                {name: '新疆',value: randomData() },{name: '江苏',value: randomData() },  
                                {name: '浙江',value: randomData() },{name: '江西',value: randomData() },  
                                {name: '湖北',value: randomData() },{name: '广西',value: randomData() },  
                                {name: '甘肃',value: randomData() },{name: '山西',value: randomData() },  
                                {name: '内蒙古',value: randomData() },{name: '陕西',value: randomData() },  
                                {name: '吉林',value: randomData() },{name: '福建',value: randomData() },  
                                {name: '贵州',value: randomData() },{name: '广东',value: randomData() },  
                                {name: '青海',value: randomData() },{name: '西藏',value: randomData() },  
                                {name: '四川',value: randomData() },{name: '宁夏',value: randomData() },  
                                {name: '海南',value: randomData() },{name: '台湾',value: randomData() },  
                                {name: '香港',value: randomData() },{name: '澳门',value: randomData() }  
                            ]
                        }
                    },
                }
                
                this.$nextTick(()=> {
                    for (let key in this.charts) {
                        let item = this.charts[key].options;
                        item.type !== 'table' && item.id && this.chartsId.push(item.id);
                        switch (item.type) {
                            case 'type1': 
                                this.type1(this.charts[key]);
                                break;
                            case 'type2': 
                                this.type2(this.charts[key]);
                                break;
                            case 'type3': 
                                this.type3(this.charts[key]);
                                break;
                            case 'type4': 
                                this.type4(this.charts[key]);
                                break;
                            case 'type5': 
                                this.type5(this.charts[key]);
                                break;
                            default : 
                                break;
                        }
                    }
                    this.loading.close();
                })
            }, 500);
        },
        querySignleData(param) {
            this.loading = this.$loading({
                lock: true,
                text: 'Loading',
                spinner: 'el-icon-loading',
                background: 'rgba(0, 0, 0, 0.7)'
            });
            setTimeout(()=>{
                this.loading.close(); 
            }, 500)
        },
        onSearch() {
            this.query();
        },
        change(item,ref) {
            let param = {
                id: item.options.id,
                month: this.$refs[ref].displayValue || this.$refs[ref][0].displayValue
            }
            this.querySignleData(param);
            console.log(param)
        },
        showDialog() {
            this.showFixRange = true;
        },
        changeRange(data) {
            this.query();
        },
        styleH() {
            return {background: '#5b9bd5', textAlign: 'center', color: '#fff'}
        },
        type1(info) {
            this[info.options.id] = echarts.init(document.getElementById(info.options.id));
            let option = {
                tooltip: {},
                toolbox: {
                    right: '10%',
                    feature: {
                        saveAsImage: {
                            show: true,
                            name: info.title 
                        }
                    }
                },
                legend: {
                    bottom: '-10px',
                    data: [{
                        name: '处罚金额（万元）',
                        icon: 'rect',
                        backgroundColor: 'red'
                    }, {
                        name: '罚单数量（份）',
                        icon: 'rect',
                        backgroundColor: 'red'
                    }],
                    align: 'left'
                },
                xAxis: {
                    axisTick: {
                        alignWithLabel: true,
                    },
                    axisLabel: {
                        interval: 0,
                        rotate: 30
                    },
                    data: info.options.category
                },
                yAxis: [
                    {
                        min: 0,
                        max: 600,
                        interval: 100,
                        splitLine: {
                            show: true
                        }
                    }, 
                    {
                        min: 0,
                        max: 60,
                        interval: 10,
                        position: 'right',
                        splitLine: {
                            show: true
                        }
                    }
                ],
                series: [{
                    color: '#5b9bd5',
                    name: '处罚金额（万元）',
                    type: 'bar',
                    yAxisIndex: 0,
                    barMaxWidth: '30%',
                    label: {
                        show: true,
                        position: 'top',
                        color: '#000',
                        fontWeight: 'bold'
                    },
                    data: info.options.bardata
                }, {
                    color: '#ed7d31',
                    name: '罚单数量（份）',
                    type: 'line',
                    // symbol: 'none',
                    yAxisIndex: 1,
                    lineStyle: {
                        color: '#ed7d31',
                        width: 3,
                    },
                    label: {
                        show: true,
                        position: 'bottom',
                        color: 'red',
                        fontWeight: 'bold'
                    },
                    data: info.options.linedata
                }]
            };
            this[info.options.id].setOption(option);
        },
        type2(info) {
            this[info.options.id] = echarts.init(document.getElementById(info.options.id));
            let option = {
                tooltip: {},
                toolbox: {
                    right: '10%',
                    feature: {
                        saveAsImage: {
                            show: true,
                            name: info.options.title 
                        }
                    }
                },
                legend: {
                    bottom: '-10px',
                    data: [{
                        name: '处罚金额（万元）',
                        icon: 'rect',
                        backgroundColor: 'red'
                    }, {
                        name: '罚单数量（份）',
                        icon: 'rect',
                        backgroundColor: 'red'
                    }],
                    align: 'left'
                },
                xAxis: {
                    axisTick: {
                        alignWithLabel: true,
                    },
                    axisLabel: {
                        interval: 0
                    },
                    data: info.options.category
                },
                yAxis: [
                    {
                        min: 0,
                        max: 400,
                        interval: 80,
                        axisLine: {
                            show: false
                        },
                        splitLine: {
                            show: true
                        }
                    }, 
                    {
                        min: 0,
                        max: 15000,
                        interval: 3000,
                        axisLine: {
                            show: false
                        },
                        position: 'right',
                        splitLine: {
                            show: true
                        }
                    }
                ],
                series: [{
                    color: '#5b9bd5',
                    name: '处罚金额（万元）',
                    type: 'bar',
                    yAxisIndex: 0,
                    barMaxWidth: '10%',
                    label: {
                        show: true,
                        position: 'top',
                        color: '#000',
                        fontWeight: 'bold'
                    },
                    data: info.options.bardata
                }, {
                    color: '#ed7d31',
                    name: '罚单数量（份）',
                    type: 'line',
                    // symbol: 'none',
                    yAxisIndex: 1,
                    lineStyle: {
                        color: '#ed7d31',
                        width: 3,
                    },
                    label: {
                        show: true,
                        position: 'bottom',
                        color: 'red',
                        fontWeight: 'bold'
                    },
                    data: info.options.linedata
                }]
            };
            this[info.options.id].setOption(option);
        },
        type3(info) {
            this[info.options.id] = echarts.init(document.getElementById(info.options.id));
            let option = {
                tooltip: {},
                toolbox: {
                    right: '10%',
                    feature: {
                        saveAsImage: {
                            show: true,
                            name: info.options.title
                        }
                    }
                },
                legend: {
                    show: false
                },
                xAxis: {
                    axisTick: {
                        alignWithLabel: true,
                    },
                    axisLabel: {
                        interval: 0
                    },
                    data: info.options.category
                },
                yAxis: [
                    {
                        show: false
                    }
                ],
                series: [{
                    color: '#5b9bd5',
                    name: '处罚金额（万元）',
                    type: 'bar',
                    yAxisIndex: 0,
                    barMaxWidth: '10%',
                    label: {
                        show: true,
                        position: 'top',
                        color: '#000',
                        fontWeight: 'bold'
                    },
                    data: info.options.bardata
                }]
            };
            this[info.options.id].setOption(option);
        },
        type4(info) {
            this[info.options.id] = echarts.init(document.getElementById(info.options.id));
            let option = {
                tooltip: {},
                toolbox: {
                    right: '10%',
                    feature: {
                        saveAsImage: {
                            show: true,
                            name: info.options.title
                        }
                    }
                },
                legend: {
                    bottom: '-10px',
                    data: [{
                        name: '处罚金额（万元）',
                        icon: 'rect',
                        backgroundColor: 'red'
                    }, {
                        name: '罚单数量（份）',
                        icon: 'rect',
                        backgroundColor: 'red'
                    }],
                    align: 'left'
                },
                xAxis: [
                    {
                        type: 'value',
                        axisLine: {
                            show: false
                        },
                        splitLine: {
                            show: false
                        },
                        axisTick: {
                            show: false
                        }
                    }
                ],
                yAxis: {
                    type: 'category',
                    axisTick: {
                        alignWithLabel: true,
                    },
                    axisLabel: {
                        interval: 0
                    },
                    data: info.options.category
                },
                series: [{
                    color: '#ed7d31',
                    name: '罚单数量（份）',
                    type: 'bar',
                    xAxisIndex: 0,
                    barMaxWidth: '18px',
                    barGap: '0',
                    label: {
                        show: true,
                        position: 'right',
                        color: 'red',
                        fontWeight: 'bold'
                    },
                    data: info.options.linedata
                }, {
                    color: '#5b9bd5',
                    name: '处罚金额（万元）',
                    type: 'bar',
                    xAxisIndex: 0,
                    barMaxWidth: '18px',
                    label: {
                        show: true,
                        position: 'right',
                        color: '#000',
                        fontWeight: 'bold'
                    },
                    data: info.options.bardata
                }]
            };
            this[info.options.id].setOption(option);
        },
        type5(info) {
            this[info.options.id] = echarts.init(document.getElementById(info.options.id));
            let categorys = {
                '0': [],
                '100': [],
                '200': []
            }
            info.options.data.forEach(item=> {
                if(item.value>=0 && item.value<=100 ){
                    categorys['0'].push(item.name);
                    return;
                }
                if(item.value>100 && item.value<=200 ){
                    categorys['100'].push(item.name);
                    return;
                }
                if(item.value>200 ){
                    categorys['200'].push(item.name);
                    return;
                }
            })
            let option = {  
                backgroundColor: '#FFFFFF',  
                tooltip : {  
                    trigger: 'item'  
                },  
                visualMap: {  
                    show : true,  
                    x: 'right',  
                    y: 'center',  
                    align: 'left',
                    pieces: [   
                        {gt: 200},
                        {gt: 100, lte: 200},
                        {gt: 0, lte: 100} 
                    ],
                    textStyle: {
                        width: 100
                    },
                    formatter: function (value, value2) {
                        let text = '';
                        if(value === 0) {
                            // text = categorys['0'].join(',')
                            text = '罚款金额≤100'
                        } else if(value === 100) {
                            // text = categorys['100'].join(',')
                            text = '罚款金额≤200 或 text = 罚款金>100'
                        } else {
                            // text = categorys['200'].join(',')
                            text = '罚款金额>200'
                        }
                        return text;
                    },
                    color: ['#F80000', '#F9C000', '#01B0F4']
                },  
                
                //配置属性
                series: [{  
                    name: '数据',  
                    type: 'map',  
                    mapType: 'china',   
                    roam: false,  
                    label: {  
                        normal: {  
                            show: true  //省份名称  
                        },  
                        emphasis: {  
                            show: false  
                        }  
                    },  
                    data: info.options.data  //数据
                }]  
            };
            this[info.options.id].setOption(option);
        },
    }
})
</script>