<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <script src="../js/vue.min.js"></script>
    <!-- 引入样式 -->
    <!-- <link rel="stylesheet" href="../css/element.css"> -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <!-- 引入组件库 -->
    <script src="../js/element.min.js"></script>
</head>
<style>
    .d_container{
        padding: 30px;
    }
    .d_mid_content{
       margin-top: 30px;
    }
    .d_btm_btn{
        margin-top: 80px;
        text-align: center;
    }
    .d_btm_btn .el-button{
        padding: 12px 45px;
    }
    .mt20{
        margin-top: 20px;
    }
</style>
<body>
    <div id="refApp">
        <div class="d_container">
            <el-steps simple>
                <el-step v-for="(step,k) in steps" :key="k" :title="step.label" :icon="step.icon" :status="step.status"></el-step>
            </el-steps>

            <el-row class="d_mid_content">
                <el-col :span="16" :offset="4">
                    <div>
                        <el-row :gutter="20">
                            <el-col :span="3">原文链接</el-col>
                            <el-col :span="21">{{form.originLink}}</el-col>
                        </el-row>
                        <el-row :gutter="20" class="mt20">
                            <el-col :span="3">PDF附件</el-col>
                            <el-col :span="21">{{form.attachment}}</el-col>
                        </el-row>
                        <el-table :data="form.tableData" border :header-cell-style="styleH" style="width: 100%;margin-top: 40px;" :span-method="objectSpanMethod">
                            <el-table-column prop="contrLevel1" label="控制领域一级" width="150"></el-table-column>
                            <el-table-column prop="contrLevel2" label="控制领域二级" width="150"></el-table-column>
                            <el-table-column prop="contrLevel3" label="控制领域三级">
                                <template slot-scope="scope">
                                    <el-checkbox-group v-model="paramData[scope.row.key]">
                                        <el-checkbox :label="unit" v-for="(unit,k) in scope.row.contrLevel3" :key="k">{{unit}}</el-checkbox>
                                    </el-checkbox-group>
                                </template>
                            </el-table-column>
                        </el-table>
                        <div class="d_btm_btn">
                            <el-button @click="prev">上一步</el-button>
                            <el-button type="primary" @click="save">数据暂存</el-button>
                            <el-button @click="confirm">确认审核</el-button>
                        </div>
                    </div>
                </el-col>
            </el-row>
        </div>
        
    </div>
</body>
</html>

<script>
new Vue({
    el: '#refApp',
    
    data: {
        form: {
            originLink: '',
            attachment: '',
            tableData: []
        },
        paramData: {},
        steps: [
            {
                label: '爬虫数据修改',
                icon: 'el-icon-edit',
                status: 'process'
            }, {
                label: '设置落实机构',
                icon: 'el-icon-office-building',
                status: 'process'
            }, {
                label: '设置控制领域',
                icon: 'el-icon-coin',
                status: 'finish'
            }
        ]
    },
    mounted() {
        this.query();
    },
    methods: {
        query() {
            this.form = {
                originLink: 'http://www.cbrc.gov.cn/chinese/newShouDoc/BB8E3EEC78EA4281ADF4A55325AFE271.html',
                attachment: 'BB8E3EEC78EA4281ADF4A55325AFE271.pdf',
                tableData: [
                    {
                        id: 0,
                        key: 'jiaoyi',
                        contrLevel1: '公司治理',
                        contrLevel2: '关联交易',
                        contrLevel3: [ '关联方管理', '关联交易识别与审核', '关联交易披露与报送']
                    }, {
                        id: 0,
                        key: 'xinxi',
                        contrLevel1: '公司治理',
                        contrLevel2: '信息披露',
                        contrLevel3: ['信息收集与传递', '对外披露信息', '内幕信息管理']
                    }, {
                        id: 0,
                        key: 'guquan',
                        contrLevel1: '公司治理',
                        contrLevel2: '股权管理',
                        contrLevel3: ['股东资质', '股权取得', '股东行为', '股权事务']
                    }, {
                        id: 0,
                        key: 'sanhui',
                        contrLevel1: '公司治理',
                        contrLevel2: '三会管理',
                        contrLevel3: ['会议组织', '会议资料管理']
                    }
                ]
            }
            this.form.tableData.forEach(item => {
                this.paramData[item.key] = [];
            });
        },
        save() {
            console.log(this.paramData)
        },
        prev(row) {
            window.location.href = './rule_audit_2.html';
        },
        confirm(row) {
            window.location.href = './rule.html';
        },
        styleH() {
            return {background: '#fbfbfb', textAlign: 'center', color: '#333'}
        },
        objectSpanMethod({ row, column, rowIndex, columnIndex }) {
            if (columnIndex === 0) {
                if (rowIndex % 4 === 0) {
                    return {
                        rowspan: 4,
                        colspan: 1
                    };
                } else {
                    return {
                        rowspan: 0,
                        colspan: 0
                    };
                }
            }
        }
    }
})
</script>